{
    "telegram": {
        "token": "*********************************************"
    },
    "zaim": {
        "consumer_key": "****************************************",
        "consumer_secret": "****************************************",
        "email": "****************",
        "password": "**********"
    },
    "google": {
        "key": "***************************************"
    }
}
